<section class="jumbotron text-center section-bg">
  <div class="container">
    <h1 class="jumbotron-heading">Vaš profil</h1>
  </div>
</section>
<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profil">Profil</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#adrese">Moje Adrese</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#favourite">Omiljeni restorani</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#utisci">Utisci</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#orders">Porudžbine</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="profil" class="tab-pane fade show active py-5">
        <app-profile></app-profile>
      </div>
      <div id="adrese" class="tab-pane fade py-5">
        <app-address></app-address>
      </div>
      <div id="favourite" class="tab-pane fade py-5">
        <app-favourite></app-favourite>
      </div>
      <div id="utisci" class="tab-pane fade py-5">
        <app-comment></app-comment>
      </div>
      <div id="orders" class="tab-pane fade py-5">
        <app-orders></app-orders>
      </div>
    </div>
  </div>