<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="/assets/logo.png" width="100" height="50" alt="FoodGo">
      
    </a>
    <!-- <form class="form-inline my-2 my-lg-0 mx-auto">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
  </form> -->
    <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="login">Prijavite se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Registrujte se</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
