<main role="main">
  <section class="jumbotron text-center meal-bg" [ngStyle]="{'background-image': getRestaurantImage()}">
    <div class="container">
      <h1 class="jumbotron-heading text-white">{{restaurant.name}}</h1>
      <p class="lead text-white">Dobijanje omiljene hrane više je nego što vam je život olakšan. Kada naručujete kod
        FoodGo-a,<br />
        pomažete hiljadama marljivih restorana i kurira da zarade za život.</p>
    </div>
  </section>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 justify-content-center">
            {{restaurant.description}}
          </div>
          <div class="col-md-3 row justify-content-center">
            <button type="button" (click)="isFavorite(restaurant.name)" placement="bottom"
              ngbTooltip="Dodajte/Sklonite omiljene restorane" tooltipClass="foodgo-tooltip"
              class="btn btn-sm btn-outline-secondary"><i [class.fav]='favorite' class="fa fa-heart fa-2x"></i></button>
          </div>
          <div class="col-md-3">
            <app-rating [currentRate]=restaurant.mark></app-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2 bg-light">
    <div class="container">
      <h3 class="py-3">Meni</h3>
      <div class="row">
        <div class="col-md-3">
          <ul class="nav flex-column card sticky-top">
            <!-- TODO srediti da ide u posebne sekcije na strani-->
            <li class="nav-item" *ngFor="let category of getCategories()">
              <!-- active? -->
              <a class="nav-link" href="#{{category}}">{{category}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row" *ngFor="let meal of meals">
            <h3 [attr.id]="meal.category">{{meal.category}}</h3>
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" [attr.alt]="meal.name" style="height: 280px; width: 100%; display: block;"
                [attr.src]="meal.mealPicture" data-holder-rendered="true">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="">
                    <h5 class="card-text">{{meal.name}}</h5>
                    <p class="text-muted">Cena: {{meal.price}} RSD</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-text">{{meal.description}}</p>
                  <div class="btn-group">
                    <button type="button" (click)="addToOrder(meal.name)" class="btn btn-sm btn-outline-secondary"><i
                        class="fa fa-plus"></i></button>
                    <button type="button" (click)="removeFromOrder(meal.name)" [disabled]="!activate"
                      class="btn btn-sm btn-outline-secondary"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <h5>Informacije o restoranu</h5>
          <h6>Adresa</h6>
          <div class="text-muted mb-3">{{restaurant.address}}</div>
          <div id="map-container-google-1" class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://maps.google.com/maps?q=belgrade&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="1"
              style="border:0"></iframe>
          </div>
          <p class="text-justify mt-3">Neki info
          </p>
        </div>
      </div>
    </div>
  </div>

</main>