<main role="main">
  <section class="jumbotron text-center meal-bg" [ngStyle]="{'background-image': getRestaurantImage()}">
    <div class="container">
      <h1 class="jumbotron-heading text-white title">{{restaurant.name}}</h1>
    </div>
  </section>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 justify-content-center">
            {{restaurant.description}}
          </div>
          <div *ngIf="loggedIn()" class="col-md-3 row justify-content-center">
            <button type="button" (click)="sendFavoriteRest(restaurant.name)" placement="bottom"
              ngbTooltip="Dodajte/Sklonite omiljene restorane" tooltipClass="foodgo-tooltip"
              class="btn btn-sm btn-outline-secondary" [disabled]='!loggedIn()'><i
                [class.fav]='isFavoriteRest(restaurant.name)' class="fa fa-heart fa-2x"></i></button>
          </div>
          <div *ngIf="!loggedIn()" class="col-md-3 row justify-content-center"
            ngbTooltip="Prijavite se kako bi imali ovu opciju" tooltipClass="foodgo-tooltip">
            <button type="button" (click)="sendFavoriteRest(restaurant.name)" placement="bottom"
              class="btn btn-sm btn-outline-secondary" [disabled]='!loggedIn()'><i
                [class.fav]='isFavoriteRest(restaurant.name)' class="fa fa-heart fa-2x"></i></button>
          </div>
          <div class="col-md-3">
            <app-rating [read]=true [currentRate]=restaurant.mark></app-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2 bg-light">
    <div class="container">
      <div class="form-group row py-2">
        <h3 class="col-sm-2">Meni</h3>
        <div class="col-sm-10">
          <input (keyup)="pretraga($event)" (focus)="focusSearch()" class="form-control" type="text"
            placeholder="Pretražite Obroke" aria-label="Search">
          <div class="card" *ngIf="visibleMeals!=undefined" id="searchBox" [ngClass]="{'hide':collapse}">
            <div *ngFor="let meal of visibleMeals">
              <a (click)="scrollToMeal(meal)" class="link">
                <div class="card-body">
                  {{meal.name}}
                </div>
              </a>
            </div>
            <div *ngIf="visibleMeals!=undefined && visibleMeals==0" class="card-body">
              <h3>Nema traženog obroka</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul class="nav flex-column card sticky-top p-3">
            <h5>Kategorije
              <hr>
            </h5>
            <li class="nav-item" *ngFor="let category of getCategories()">
              <a class="first after nav-link" [ngClass]="{'active':isActive(category)}"
                (click)="scrollToCategory(category)">{{category}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row" *ngFor="let meal of restaurant.meals; let i = index">
            <h3 *ngIf="firstCategory(meal.category,i)" [attr.id]="meal.category">{{meal.category}}</h3>
            <div class="card mb-4 box-shadow" [attr.id]="meal.name">
              <img class="card-img-top" [attr.alt]="meal.name" style="height: 280px; width: 100%; display: block;"
                [attr.src]="meal.mealPicture" data-holder-rendered="true">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="">
                    <h5 class="card-text">{{meal.name}}</h5>
                    <p class="text-muted">Cena: {{meal.price}} RSD</p>
                  </div>
                  <div *ngIf='loggedIn()'><button (click)="sendFavoriteMeal(meal)"
                      ngbTooltip="Dodajte/Sklonite omiljenu hranu" tooltipClass="foodgo-tooltip"
                      [disabled]='!loggedIn()' class="btn btn-sm"><i [class.fav]='isFavoriteMeal(meal.name)'
                        class="fa fa-heart"></i></button></div>
                  <div *ngIf='!loggedIn()' ngbTooltip="Prijavite se kako bi imali ovu opciju"
                    tooltipClass="foodgo-tooltip"><button [disabled]='!loggedIn()' class="btn btn-sm"><i
                        [class.fav]='isFavoriteMeal(meal.name)' class="fa fa-heart"></i></button></div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-text">{{meal.description}}</p>
                  <div class="btn-group" *ngIf='loggedIn()'>
                    <button data-toggle="modal" (click)="chooseMealToOrder(i)" data-target="#mealModal"
                      [disabled]='!loggedIn()' class="btn btn-warning">Dodajte</button>
                  </div>
                  <div class="btn-group" *ngIf='!loggedIn()' ngbTooltip="Prijavite se kako bi imali ovu opciju"
                    tooltipClass="foodgo-tooltip">
                    <button data-toggle="modal" [disabled]='!loggedIn()' class="btn btn-warning">Dodajte</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <h5>Informacije o restoranu</h5>
          <h6>Adresa</h6>
          <div class="text-muted mb-3">{{restaurant.address}}</div>
          <div id="map-container-google-1" class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="getMapUrl()" frameborder="1" style="border:0"></iframe>
          </div>
          <app-order [(mealOrder)]=orderMeals [restaurantOrder]=restaurant class="p-3"></app-order>
        </div>
      </div>
    </div>
  </div>

</main>
<div class="modal fade" id="mealModal" tabindex="-1" role="dialog" aria-labelledby="mealModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mealModalLabel">Dodajte u korpu</h5>
        <button type="button" class="close" #closeMealModal data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf='chosedMeal!=undefined'>
          <div class="modal-title" class="d-flex justify-content-between">
            <h5>{{chosedMeal.name}}</h5>
            <p>{{chosedMeal.price}} RSD</p>
          </div>
          <p>{{chosedMeal.description}}</p>
        </div>
        <form>
          <div *ngIf='ingredients!=undefined && ingredients.length>0'>
            <h5>Odaberite priloge</h5>
            <div *ngFor="let ingredient of ingredients; let i = index">
              <div *ngIf="i % 3 == 0" class="row pl-4">
                <div (change)="dodajPrilog($event)" class="form-check col-md-4" *ngIf="i < ingredients.length" style="width: 18rem;">
                  <input #checkboxes class="form-check-input" type="checkbox" value="{{ingredients[i].ingredientId}}"
                    id="{{ingredients[i].ingredientId}}"><label class="form-check-label" for="{{ingredients[i].ingredientId}}">
                    {{ingredients[i].name}}, {{ingredients[i].price}} RSD
                  </label>
                </div>
                <div (change)="dodajPrilog($event)" class="form-check col-md-4" *ngIf="i + 1 < ingredients.length" style="width: 18rem;">
                  <input #checkboxes class="form-check-input" type="checkbox" value="{{ingredients[i+1].ingredientId}}"
                    id="{{ingredients[i+1].ingredientId}}"><label class="form-check-label" for="{{ingredients[i+1].ingredientId}}">
                    {{ingredients[i+1].name}}, {{ingredients[i+1].price}} RSD
                  </label>
                </div>
                <div (change)="dodajPrilog($event)" class="form-check col-md-4" *ngIf="i + 2 < ingredients.length" style="width: 18rem;">
                  <input #checkboxes class="form-check-input" type="checkbox" value="{{ingredients[i+2].ingredientId}}"
                    id="{{ingredients[i+2].ingredientId}}"><label class="form-check-label" for="{{ingredients[i+2].ingredientId}}">
                    {{ingredients[i+2].name}}, {{ingredients[i+2].price}} RSD
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf='ingredients!=undefined && ingredients.length==0' class="m-3">
            Nema dodataka za ovo jelo
          </div>
          <!-- <textarea formControlName="note" -->
          <textarea class="form-control" rows="5" placeholder="Unesite posebne zahteve-beleške"></textarea>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvorite</button>
          <button class="btn btn-warning" (click)="addToOrder();uncheckAll()">Dodajte</button>
        </div>
      </div>
    </div>
  </div>
</div>