
.section-bg
    background-image: url("/assets/welcome.jpg")
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

a.link
    color: black

a.link:hover
     text-decoration: none


.foodgo-tooltip .tooltip-inner
      background-color: orange
      font-size: 125%
    
.foodgo-tooltip .arrow::before 
      border-top-color: orange
    