<main role="main">

  <section class="jumbotron text-center section-bg">
    <div class="container">
      <h1 class="jumbotron-heading">FoodGo</h1>
      <p class="lead text-white">Dobijanje omiljene hrane više je nego što vam je život olakšan. Kada naručujete preko
        FoodGo-a,<br />
        uštedeli ste energiju i vreme i ujedno pomažete restoranima i kuririma da unaprede svoje usluge.</p>
    </div>
  </section>

  <div class="py-2 bg-light">
    <div class="container">
      <div class="form-group row">
        <h3 class="col-sm-2">Restorani</h3>
        <div class="col-sm-10">
          <input (keyup)="pretraga($event)" class="form-control" type="text" placeholder="Pretražite Restorane" aria-label="Search">
          <div class="card" *ngIf="visibleRestaurants!=undefined" id="searchBox">
            <div *ngFor="let restaurant of visibleRestaurants">
              <a href="restaurant/{{restaurant.restaurantId}}" class="link">
            <div class="card-body">
              {{restaurant.name}}
            </div>
            </a>
          </div>
               <div *ngIf="visibleRestaurants!=undefined && visibleRestaurants==0"class="card-body">
              <h3>Nema traženog restorana</h3>
            </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let restaurant of restaurants">
          <a href="restaurant/{{restaurant.restaurantId}}" class="link">
            <div class="card mb-4 box-shadow" ngbTooltip="Otvorite meni restorana" tooltipClass="foodgo-tooltip">
              <img class="card-img-top" alt="{{restaurant.name}}" style="height: 225px; width: 100%; display: block;"
                src="{{restaurant.restaurantLogo}}" data-holder-rendered="true">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h5 class="card-text"  id="name">{{restaurant.name}}</h5>
                    <p class="text-muted">{{restaurant.address}}</p>
                  </div>
                  <app-rating [read]=true [currentRate]=restaurant.mark></app-rating>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-text" id="description">{{restaurant.description}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</main>