<section class="text-center containter">
    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 font-weight-normal p-5">Prijavite se</h1>
        <div *ngIf="submitted && !loading" class="alert alert-danger alert-dismissible fade show">
            <strong>Neuspešno logovanje!</strong> Pogrešan email ili lozinka
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">Mejl adresa</label>
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Mejl adresa" email required
                autofocus />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Polje ne sme biti prazno</div>
                <div *ngIf="!f.email.errors.required">Koristite odgovarajuci format</div>
            </div>
        </div>
        <div class="form-group input-group mb-3">
            <label for="inputPassword" class="sr-only">Lozinka</label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Lozinka" required
                autocomplete="password" minlength="8" />
            <div class="input-group-append">
                <span (click)="hide = !hide" class="input-group-text">
                    <i [class]="hide ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true"></i></span>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Polje ne sme biti prazno</div>
                <div *ngIf="!f.password.errors.required">Dužina treba biti veća od 8 karaktera</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-lg btn-warning btn-block">Prijavite se</button>
            <img *ngIf="loading" class="pl-3"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</section>