/* You can add global styles to this file, and also import other style files */

.foodgo-tooltip .tooltip-inner {
    background-color: orange;
    font-size: 125%;
}

.foodgo-tooltip .arrow::before {
    border-top-color: orange
}