/* You can add global styles to this file, and also import other style files */

.foodgo-tooltip .tooltip-inner {
    background-color: #F3924C;
    font-size: 125%;
}

.foodgo-tooltip .arrow::before {
    border-top-color: #F3924C
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}