<div class="container">
    <div class="row">
        <form *ngIf="editProfile()" class="form-profile" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h5 class="font-weight-normal">Vaši podaci</h5>
            <p class="text-muted">Da li želite da promenite nešto? Ne zaboravite da kliknete na "Snimite izmene" na
                kraju forme</p>
            <div class="row">
                <div class="form-group col-6">
                    <label for="name" class="sr-only">Vaše Ime</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Unesite Vaše Ime"
                        required />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Polje ne sme biti prazno</div>
                    </div>
                </div>
                <div class="form-group  col-6">
                    <label for="lastname" class="sr-only">Unesite Vaše Prezime</label>
                    <input type="text" formControlName="lastname" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" placeholder="Unesite Vaše Prezime"
                        required />
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Polje ne sme biti prazno</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="phone" class="sr-only">Unesite Vaš Broj Telefona</label>
                    <input type="tel" formControlName="phone" class="form-control" [pattern]="mobNumberPattern"
                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                        placeholder="Unesite Vaš Broj Telefona" required />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Polje ne sme biti prazno</div>
                        <div *ngIf="f.phone.errors.pattern">Broj Telefona nije dobrog formata</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="email" class="sr-only">Unesite Mejl adresu</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Unesite Mejl adresu"
                        email required />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Polje ne sme biti prazno</div>
                        <div *ngIf="f.email.errors.email">Koristite odgovarajući format</div>
                    </div>
                </div>
            </div>

            <div class="form-group input-group mb-3">
                <label for="password" class="sr-only">Unesite Lozinku</label>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Unesite Lozinku" required
                    minlength="8" />
                <div class="input-group-append">
                    <span (click)="hide = !hide" class="input-group-text">
                        <i [class]="hide ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true"></i></span>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Polje ne sme biti prazno</div>
                    <div *ngIf="f.password.errors.minlength">Dužina treba biti veća od 8 karaktera</div>
                </div>
            </div>
            <div class="form-group input-group mb-3">
                <label for="confirmPassword" class="sr-only">Ponovite Lozinku</label>
                <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Ponovite Lozinku"
                    required minlength="8" />
                <div class="input-group-append">
                    <span (click)="hide = !hide" class="input-group-text">
                        <i [class]="hide ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true"></i></span>
                </div>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Polje ne sme biti prazno</div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Dužina treba biti veća od 8 karaktera</div>
                    <div *ngIf="f.confirmPassword.errors.passwordsMustMatch">Lozinke se ne podudaraju</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-lg btn-warning btn-block">Snimite izmene</button>
                <img *ngIf="loading" class="pl-3"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
        <!-- TODO videti sta je bolje -->
        <div *ngIf="!editProfile()" class="form-profile">
            <h5 class="font-weight-normal">Vaši podaci</h5>
            <div class="row">
                <div class="col-6">
                    <label id="profile-metadata">Vaše Ime</label>
                    <p>{{customer.firstName}}</p>
                </div>
                <div class="col-6">
                    <label id="profile-metadata">Vaše Prezime</label>
                    <p>{{customer.lastName}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label id="profile-metadata">Vaš Broj Telefona</label>
                    <p>{{customer.phone}}</p>
                </div>
                <div class="col-6">
                    <label id="profile-metadata">Vaša Mejl Adresa</label>
                    <p>{{customer.email}}</p>
                </div>
            </div>
            <div class="text-center">
                <button (click)="showForm = !showForm" class="btn btn-lg btn-warning mt-3">Izmenite</button>
            </div>
        </div>
    </div>

</div>