<div class="container">
  <h5 class="font-weight-normal">Vaše porudžbine</h5>
  <p class="text-muted">Da li ste raspoloženi za kafu? Picu? Burger? Za šta ste god raspoloženi, mi to imamo!</p>
  <table *ngIf='showOrders()' class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Jela</th>
        <th scope="col">Datum</th>
        <th scope="col">Cena</th>
        <th scope="col">Beleška</th>
        <th scope="col">Ocenite/Odustanite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let order of orders; let i = index'>
        <th *ngIf="getPageLimit(i)"scope="row">{{order.orderId}}</th>
        <td *ngIf="getPageLimit(i)">{{order.status.toUpperCase()}}</td>
        <td *ngIf="getPageLimit(i)">
          <p *ngFor='let meal of mealList(order.meals)'>
            {{meal.count}} x {{meal.name}}
          </p>
          </td>
        <td *ngIf="getPageLimit(i)">{{order.timestamp | date:'dd.MM.yyyy. h:mm a'}}</td>
        <td *ngIf="getPageLimit(i)">{{order.price}} RSD</td>
        <td *ngIf="getPageLimit(i)">{{order.note}}</td>
        <td *ngIf="getPageLimit(i)"><app-rating *ngIf="order.mark==undefined && order.status.toUpperCase()=='FINISHED'" [order]=order [read]=false [currentRate]=0></app-rating>
          <button *ngIf="order.status.toUpperCase()=='IN PROGRESS'" (click)="cancelOrder(i)" class="btn btn-warning">ODUSTANITE</button> </td>
      </tr>
    </tbody>
  </table>
  <app-pagination *ngIf='showOrders()' (currentPageEvent)="receiveCurrentPage($event)" [total]='total' [current]='current'></app-pagination>
  <div *ngIf='!showOrders()'>
    <div class="mx-auto text-center" style="width: 50%;">
      <img class="mt-3" src="/assets/icons/orders.png" alt="No orders">
      <h3>Nema Porudžbina</h3>
      <p class="text-muted">Ovde možete videti vaše porudžbina, pregledati ih i ponovo naručiti sa samo jednim klikom.
      </p>
      <button (click)='restaurant()' class="btn btn-warning">Poručite hranu</button>
    </div>
  </div>
</div>